In [1]:
import pandas as pd
import numpy as np
import pickle
import math
import os
import requests
#import html
import datetime
from datetime import timedelta, date
#import string
#import json
import matplotlib.pyplot as plt
import seaborn as sns
import bokeh

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
main_inputs = '../../inputs/'
inputs = '../inputs/'
outputs = '../outputs/'

### get pickle

In [ ]:
resultado = main_inputs+'resultado_2016-.pkl'

In [ ]:
data = pickle.load(open(resultado, 'rb'))

In [7]:
data.head()

,date,user,message,0,1,2,3,4,class,location
3851129,2016-01-01 00:00:32,portaljovempan,Projeto Alerta contra a Dengue: é melhor preve...,0.118370,0.115357,0.107965,0.121839,0.536469,3,"{u'city': u'Sao Paulo', u'country': u'Brasil',..."
3851130,2016-01-01 00:00:45,ElGuardianDig,#Panama cierra #2015 con un 50% menos de casos...,0.092447,0.058695,0.036746,0.104694,0.707418,3,"{u'country': u'Panama', u'type': u'Country', u..."
3851131,2016-01-01 00:01:23,adeleporto,a zika me deixou vermelha dos pés à cabeça!,0.277073,0.093878,0.000000,0.523196,0.105854,0,"{u'city': u'Rio de Janeiro', u'country': u'Bra..."
3851132,2016-01-01 00:02:00,K_Ralha_,Esse ano eu peguei geral:\n-Gripe\n-Dengue \nE...,0.115549,0.220487,0.066304,0.501180,0.096480,0,"{u'type': u'State', u'location': u'Terra, Dugw..."
3851133,2016-01-01 00:02:10,pg_pimentel06,RT @portaljovempan: Projeto Alerta contra a De...,0.124577,0.121406,0.113626,0.128228,0.512163,3,"{u'city': u'Sao Paulo', u'country': u'Brasil',..."

In [8]:
data.tail()

,date,user,message,0,1,2,3,4,class,location
7503160,2019-03-19 05:34:30,bruninhooo22,Olha o mosquito,0.364196,0.219732,0.104918,0.203330,0.107824,1,"{u'city': u'Nova Iguacu', u'country': u'Brasil..."
7503161,2019-03-19 05:34:36,celiacristtina,RT @minsaude: O mosquito Aedes aegypti é respo...,0.207186,0.089312,0.221760,0.172148,0.309594,3,"{u'type': u'Town', u'location': u'Brasil', u'c..."
7503162,2019-03-19 05:35:25,Kako_Wl,RT @crf_avelino: o tapa que o Abel tem q tomar...,0.402596,0.379243,0.014877,0.198323,0.004962,1,"{u'd': 1552973730535, u'v': 1}"
7503163,2019-03-19 05:36:47,rafinha_amado,RT @minsaude: Os sintomas da zika podem ser co...,0.115458,0.115762,0.090594,0.397036,0.281150,0,"{u'country': u'Brasil', u'state': u'SE', u'typ..."
7503164,2019-03-19 05:36:56,isaiaspereirass,RT @minsaude: Os sintomas da zika podem ser co...,0.115458,0.115762,0.090594,0.397036,0.281150,0,"{u'country': u'Brasil', u'state': u'SP', u'typ..."

In [9]:
def get_city(loc):
    loc = eval(str(loc))
    if 'city' in loc: city = loc['city']
    else: city = ""
    return city

In [10]:
data['city'] = data['location'].apply(lambda x: get_city(x))

In [16]:
data.head()

,date,user,message,0,1,2,3,4,class,location,city
3851129,2016-01-01 00:00:32,portaljovempan,Projeto Alerta contra a Dengue: é melhor preve...,0.118370,0.115357,0.107965,0.121839,0.536469,3,"{u'city': u'Sao Paulo', u'country': u'Brasil',...",Sao Paulo
3851130,2016-01-01 00:00:45,ElGuardianDig,#Panama cierra #2015 con un 50% menos de casos...,0.092447,0.058695,0.036746,0.104694,0.707418,3,"{u'country': u'Panama', u'type': u'Country', u...",
3851131,2016-01-01 00:01:23,adeleporto,a zika me deixou vermelha dos pés à cabeça!,0.277073,0.093878,0.000000,0.523196,0.105854,0,"{u'city': u'Rio de Janeiro', u'country': u'Bra...",Rio de Janeiro
3851132,2016-01-01 00:02:00,K_Ralha_,Esse ano eu peguei geral:\n-Gripe\n-Dengue \nE...,0.115549,0.220487,0.066304,0.501180,0.096480,0,"{u'type': u'State', u'location': u'Terra, Dugw...",
3851133,2016-01-01 00:02:10,pg_pimentel06,RT @portaljovempan: Projeto Alerta contra a De...,0.124577,0.121406,0.113626,0.128228,0.512163,3,"{u'city': u'Sao Paulo', u'country': u'Brasil',...",Sao Paulo

pickle.dump(data_2016, open('temp_2016.pkl', 'wb'))

# pickle of data from 2016-2018, with cities

In [5]:
data = pickle.load(open('temp_2016.pkl', 'rb'))

# get cities with most occurrences

In [137]:
data_aggr = data.groupby(by="city").count().sort_values(by='location', ascending=False)

In [138]:
data_aggr.head(10)

,date,user,message,0,1,2,3,4,class,location
city,,,,,,,,,,
,2107166,2107165,2107166,2107166,2107166,2107166,2107166,2107166,2107166,2107166
Sete Lagoas,184532,184532,184532,184532,184532,184532,184532,184532,184532,184532
Sao Paulo,116411,116411,116411,116411,116411,116411,116411,116411,116411,116411
Rio de Janeiro,102923,102923,102923,102923,102923,102923,102923,102923,102923,102923
Belo Horizonte,47114,47114,47114,47114,47114,47114,47114,47114,47114,47114
Brasilia,42124,42124,42124,42124,42124,42124,42124,42124,42124,42124
BH,34959,34959,34959,34959,34959,34959,34959,34959,34959,34959
Curitiba,29983,29983,29983,29983,29983,29983,29983,29983,29983,29983
Recife,26671,26671,26671,26671,26671,26671,26671,26671,26671,26671
Porto Alegre,26536,26536,26536,26536,26536,26536,26536,26536,26536,26536

# build epidemiologic weeks
* Week one of every year is the first week with 4 days or more.

### get day which initializes first ep week (for each year)

In [12]:
start_days_dict = {}
for year in [2016, 2017, 2018, 2019]:
    weekday = datetime.datetime(year,1,1).weekday() #monday=0, sunday=6
    if weekday == 6 or weekday <=2: start_day = 1
    else: start_day = 7 - weekday
    start_days_dict[year] = start_day
print(start_days_dict)

{2016: 3, 2017: 1, 2018: 1, 2019: 1}

### get_week function

In [9]:
def get_week(date):
    year = int(str(date)[:4])
    start_dt = datetime.datetime(year, 1, start_days_dict[year])
    week = int((date.timestamp() - start_dt.timestamp())/60/60/24/7)
    return week

# get week and year for selected cities
cities = ['Sao Paulo','Rio de Janeiro','Belo Horizonte','Brasilia','Curitiba','Recife']

In [13]:
data['ep_week'] = data['date'].apply(lambda x: get_week(x))
data['year'] = data['date'].apply(lambda x: int(str(x)[:4]))

# discriminate texts by content 
* which virus is it talking about
* for chikungunya I pick edit distance of at least 87%

In [14]:
def get_virus_content(text, word):
    text = text.lower()
    if word == 'zika': tokens = ['zika', 'zica']
    if word == 'dengue': tokens = ['dengue']
    if word == 'chikungunya': tokens = ['chikungunya','chickungunya','chinkungunya','chikungunyua','chikungunhya',
                                        'chikunguniya','chikunguya','chikunguny','chikununya','chikugunya','chikungnya',
                                        'chikungunyada','chicungunya','chikungunha','chikungunia','chikongunya','chikunguyna',
                                        'chikugungya','chinkugunya','chinungunya','chigungunya','chikingunya','chikengunya',
                                        'chinkunguya','chilungunya','chikungua','chikungya','chikungun','chickungunha',
                                        'chickungunia','chikanguniya','chinkungunha','chikunguinha','chikinguniya',
                                        'chincungunya','chinkongunya','chikungoonya']
    if any(x in text for x in tokens): return 1
    else: return 0

In [ ]:
text1 = "tenho zika"
text2 = "tenho dengue"
text3 = "tenho chikungunya"

In [15]:
get_virus_content(text3, 'chikungunya')

1

In [15]:
data['has_dengue'] = data['message'].apply(lambda x: get_virus_content(x, 'dengue'))
data['has_zika'] = data['message'].apply(lambda x: get_virus_content(x, 'zika'))
data['has_chikungunya'] = data['message'].apply(lambda x: get_virus_content(x, 'chikungunya'))

In [ ]:
data.head(2)

# build first aggregated data

In [7]:
cities = ['Sao Paulo','Rio de Janeiro','Belo Horizonte','Brasilia','Curitiba','Recife']

In [145]:
data_aggr = data.copy()

In [146]:
data_aggr = data_aggr.groupby(by=["ep_week", "year", "city"]).count()
data_aggr.reset_index(inplace=True)
data_aggr = data_aggr[['ep_week', 'year', 'city', 'message']]
data_aggr.rename(columns = {'message': 'count'}, inplace=True)

In [147]:
geolocs_dict = {}
for city in cities:
    geolocs_dict[city] = data_aggr[data_aggr['city'] == city]
geolocs_dict.keys()

dict_keys(['Sao Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Brasilia', 'Curitiba', 'Recife'])

In [148]:
geolocs_dict['Rio de Janeiro'].head(5)

      ep_week  year            city  count
2294        0  2016  Rio de Janeiro   2678
3464        0  2017  Rio de Janeiro     91
3982        0  2018  Rio de Janeiro     93
4471        0  2019  Rio de Janeiro     47
6180        1  2016  Rio de Janeiro   1856

In [25]:
pickle.dump(geolocs_dict, open('temp_2016_aggr.pkl', 'wb'))

# plot graphics with different aggregations
ref: http://docs.bokeh.org/en/1.3.2/docs/user_guide/interaction/legends.html

### year and city

In [3]:
from bokeh.palettes import Spectral6, Spectral4
from bokeh.plotting import figure, output_file, show

In [38]:
for year in range(2016, 2020):
    p = figure(plot_width=800, plot_height=500, x_axis_label = "Epidemiologic week", y_axis_label = "Number of tweets")
    p.legend.location = "top_right"
    p.title.text = 'Virus tweets in numbers (year {})'.format(year)
    for name, color in zip(cities, Spectral6):
        df = geolocs_dict[name][geolocs_dict[name]['year'] == year]
        p.line(df['ep_week'], df['count'], line_width=2, color=color, alpha=0.8, legend=name)
    p.legend.click_policy="hide"
    output_file(os.path.join(outputs, "virus_tweets_year{}.html".format(year)), title="virus tweets (year {})".format(year))
    
    show(p)

### year and virus (1 plot for each city)

In [16]:
aggr_virus_dict = {}
data_deng = data[data['has_dengue'] == 1]
data_zika = data[data['has_zika'] == 1]
data_chik = data[data['has_chikungunya'] == 1]
data_all = data.copy()
for virus_dt in ['data_deng', 'data_zika', 'data_chik', 'data_all']:
    df = eval(virus_dt)
    df = df.groupby(by=["ep_week", "year", "city"]).count()
    df.reset_index(inplace=True)
    df = df[['ep_week', 'year', 'city', 'message']]
    df.rename(columns = {'message': 'count'}, inplace=True)
    aggr_virus_dict[virus_dt] = df

In [17]:
aggr_virus_dict.keys()

dict_keys(['data_deng', 'data_zika', 'data_chik', 'data_all'])

pickle.dump(aggr_virus_dict, open('temp_aggr_virus_dict.pkl', 'wb'))

In [4]:
aggr_virus_dict = pickle.load(open('temp_aggr_virus_dict.pkl', 'rb'))

In [5]:
aggr_virus_dict['data_deng'].head()

   ep_week  year                          city  count
0        0  2016                                12681
1        0  2016                             3      1
2        0  2016  31000 Antioch/Hatay Province      1
3        0  2016                           394      2
4        0  2016               656 NE 125th St      1

In [8]:
deng_dict = {}
zika_dict = {}
chik_dict = {}
all_dict = {}

for city in cities:
    deng_dict[city] = aggr_virus_dict['data_deng'][aggr_virus_dict['data_deng']['city'] == city]
    zika_dict[city] = aggr_virus_dict['data_zika'][aggr_virus_dict['data_zika']['city'] == city]
    chik_dict[city] = aggr_virus_dict['data_chik'][aggr_virus_dict['data_chik']['city'] == city]
    all_dict[city] = aggr_virus_dict['data_all'][aggr_virus_dict['data_all']['city'] == city]

In [17]:
for year in range(2016, 2020):
    for name in cities:
        p = figure(plot_width=800, plot_height=500, x_axis_label = "Epidemiologic week", y_axis_label = "Number of tweets")
        p.legend.location = "top_right"
        p.title.text = 'Virus tweets in numbers (year {}, {})'.format(year, name)
        for virus_name, virus, color in zip(['dengue', 'zika', 'chikungunya', 'ALL'], ['deng', 'zika', 'chik', 'all'], Spectral4):
            df = eval("{}_dict[name][{}_dict[name]['year'] == year]".format(virus, virus))
            p.line(df['ep_week'], df['count'], line_width=2, color=color, alpha=0.8, legend=virus_name)
        p.legend.click_policy="hide"
        output_file(os.path.join(outputs, "3virus_tweets_year{}_{}.html".format(year, name)), 
                    title="virus tweets (year {}, {})".format(year, name))            
        show(p)